<!DOCTYPE html>
<html>
<head>
	<title>Quizix</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="https://Alex123434.github.io/Quizix/Icon1.ico">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
	
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
</head>
<body>
	<audio id = "music">
		<source src="https://Alex123434.github.io/Quizix/I Had a Feeling - TrackTribe.mp3" type="audio/mpeg">
	</audio>
	<div id="container2">
		<h2 id="question"></h2>
		<div class="answers">
			<div class="answer left" id="answer1"></div>
			<div class="answer right" id="answer2"></div>
			<div class="answer left" id="answer3"></div>
			<div class="answer right" id="answer4"></div>
		</div>
		<button id="ProgBTN"></button>
		<div id="timer-container" class="timer-container">
			<div id="timer-bar" class="timer-bar"></div>
		  </div>		  
	</div>

	<div id="container3">
		<h3 class="endMSG" id="usernameDisplay">This are your results  {{ username }}</h3>
		<div class="box">
			<span id="score" class="ends"></span>
			<span id="fails" class="ends"></span>
			<form id = "saveScore" method="POST" action="{{ url_for('update_score') }}" >
				<input type="hidden" name="username" id="Username" value="{{ username }}">
				<input type="hidden" name="Score" id="Scores" value="">
				<button id="RetBTN" type="submit" name="update_score_button">Back to home</button>
			</form>                     
		</div>
	</div>
	
	<div id="IntrO">
		<h4 id = "gamemodeQues">Choose a Gamemode</h4>
		<div class="Intro">
			<button id="CreateQuiz" class="game-mode-btn-1" data-hover-text="Create your own Economics Quizix" onclick="window.location.href='/createQuiz'">Creative</button>
			<button id="PlayGame" class="game-mode-btn-2" data-hover-text="Learn Economic concepts in a fun way">Quizix</button>
			<button type="button" id="savedQuizzes" class="game-mode-btn-3" data-hover-text="Play your own creations" onclick="window.location.href='/playQuiz/1'">Saves</button>
		</div>
	</div>
	<div id="rules">
		<div class="BoxRules">
			<h4>How to play Quizix?</h4>
			<span class="info">You have 1 minute to answer</span>
			<span class="info">Each correct question earns you a point</span>
			<span class="info">Good Luck!</span>
			<button id="StartBTN">Start</button>
		</div>
	</div>	
	<script src="{{ url_for('static', filename='scripts/indexscript.js') }}"></script>
</body>
</html>
