<h2>{{ quiz.name }}</h2>
<form id="quizForm" method="POST" action="{{ url_for('check_answers') }}">
  {% for question in questions %}
    <div>
      <h3>{{ question.text }}</h3>
      {% for answer in question.answers %}
        <label>
          <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
          {{ answer.text }}
        </label><br>
      {% endfor %}
    </div>
  {% endfor %}
  <button class="playQuizbtn" type="submit">Submit Answers</button>
</form>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
	
